In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

In [ ]:
df1 = pd.read_csv("C:/Users/kuldeep/Downloads/TATASTEEL.csv")
df2 = pd.read_csv("C:/Users/kuldeep/Downloads/Tata_Motors_Ltd._historical_data - Tata_Motors_Ltd._historical_data.csv")
df3 = pd.read_csv("C:/Users/kuldeep/Downloads/TCS_stock_history - TCS_stock_history.csv")

In [ ]:
df1.head(5)

In [ ]:
df2.head(5)

In [ ]:
df3.head(5)

In [ ]:
df2.info()

In [ ]:
df1.shape

In [ ]:
df1.describe()

In [ ]:
df1.isna().sum()
# to check for null values in the dataset

In [ ]:
df1.duplicated().sum()
# to check for duplicated values in the dataset and get all the number in sum

In [ ]:
df2.duplicated().sum()

In [ ]:
df3.duplicated().sum()

In [ ]:
df2.describe().round(3)

In [ ]:
df1["Date"]=pd.to_datetime(df1["Date"])

In [ ]:
df1.shape

In [ ]:
df1.info()

In [ ]:
df2["Date"]=pd.to_datetime(df2["Date"])
df3["Date"]=pd.to_datetime(df3["Date"])
#to convert our date column from object to datetime format

In [ ]:
df2.info()

In [ ]:
df3.info()
#to check data about which are of which type

In [ ]:
df1["Month"]=df1["Date"].dt.month
df2["Month"]=df2["Date"].dt.month
df3["Month"]=df3["Date"].dt.month

df1["Year"]=df1["Date"].dt.year
df2["Year"]=df2["Date"].dt.year
df3["Year"]=df3["Date"].dt.year

df1["Day"]=df1["Date"].dt.day
df2["Day"]=df2["Date"].dt.day
df3["Day"]=df3["Date"].dt.day

In [ ]:
plt.figure(figsize = (20,7))
plt.plot(df1["Date"],df1["Open"],color = "blue",label = 'motors')
plt.plot(df2["Date"],df2["Open"],color = "red",label = 'steels')
plt.plot(df3["Date"],df3["Open Price"],color ="orange",label="tcs")


plt.xlabel("Year")
plt.ylabel("Price")
plt.legend(title="")
plt.show()